* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*APPLY STYLES TO BODY*/

body {
  background-color: #fafafa;
  font-family: papyrus;
}

/*STYLES APPLY TO HEADER*/
header {
  padding: 20px 35px;
  background-image: url("../assets/images/dandelion.jpg");
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-size: cover;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header h1 {
  font-size: 40px;
  color: #fafafa;
  text-decoration-line: overline;
  text-shadow: 0 0 10px rgb(100, 89, 89);
}

header h2 {
  font-size: 35px;
}

header nav ul {
  font-size: 25px;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  color: #fafafa;
  text-decoration-line: overline;
  text-shadow: 0 0 5px rgb(100, 89, 89);
}

header nav ul li a:hover {
  background: rgb(100, 89, 89);
  border-radius: 15px;
}

.sub-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 3vw;
}

/*SECTION TITLE STYLES*/
.section-title {
  display: flex;
  flex-wrap: wrap;
  font-size: 48px;
  border-bottom: 1px solid;
  padding: 15px;
  text-align: left;
  margin-left: 33vw;
  margin-top: 10%;
  width: 70%;
}

/*ABOUT ME STYLES*/
.student {
  width: 60%;
  margin-left: 33vw;
  padding: 0px 50px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: space-evenly;
}

.student img {
  width: 40%;
  box-shadow: 5px 10px 15px rgb(32, 31, 31);
  margin: 10px auto 10px auto;
}

.student-name {
  font-size: 30px;
}

.student p {
  flex: 1;
  order: 2;
  margin: 10px auto 10px auto;
}

.about {
  margin: 20px;
}

/*MY WORK STYLES*/
.myworkSection {
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  flex-direction: row;
  max-width: 50rem;
}

.work img {
  margin-left: 33vw;
  padding: 5px 5px;
  max-width: 30%;
  box-shadow: 5px 10px 15px rgb(32, 31, 31);
}

.work img:hover {
  background-color: #c1aaa2;
}

/*CONTACT STYLES START*/
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0 auto 0 auto;
  padding: 30px;
}

.contact-info {
  margin: 33vw;
  margin-top: 70px;
  margin-bottom: 85px;
  list-style-type: none;
  font-weight: bolder;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 10px 15px;
}

/*FOOTER STYLES START*/
.footer {
  padding: 30px 35px;
  background-color: #c1aaa2;
}

.footer h3 {
  text-shadow: 5px 10px 15px rgb(32, 31, 31);
}

/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
  header {
    padding-bottom: 0;
    justify-content: center;
    position: relative;
  }

  header h1 {
    width: 100%;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: 100%;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 16px;
    color: black;
  }

  .sub-title {
    justify-content: center;
    font-size: 16px;
  }
}
.section-title {
  font-size: 33px;
  border-bottom: 1px solid;
  text-align: center;
  margin: 18vw;
  margin-bottom: 0%;
  margin-top: 5vw;
}
.student-bio {
  text-align: center;
}

.contact-info {
  justify-content: space-around;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 768) {
  .student {
    text-align: center;
  }

  /* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */

  @media screen and (max-width: 575px) {
    .contact-info div {
      text-align: center;
    }
  }
}
