* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*APPLY STYLES TO BODY*/

body {
  background-color: #fafafa;
  font-family: papyrus;
}

/*STYLES APPLY TO HEADER*/
header {
  padding: 35px 50px;
  background-image: url("../assets/images/dandelion.jpg");
  background-size: cover;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
}
header a {
  text-decoration: none;
}

header h1 {
  font-size: 40px;
  color: #fafafa;
  text-decoration-line: overline;
  text-shadow: 0 0 10px rgb(100, 89, 89);
}

header h2 {
  font-size: 35px;
}

header nav ul {
  font-size: 25px;
  list-style: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header nav ul li a {
  font-weight: bold;
  color: #fafafa;
  text-decoration-line: overline;
  text-shadow: 0 0 5px rgb(100, 89, 89);
}
header nav ul li a:hover {
  background: rgb(100, 89, 89);
  border-radius: 15px;
}

.sub-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

/*SECTION TITLE STYLES*/
.section-title {
  font-size: 48px;
  border-bottom: 1px solid;
  padding-bottom: 70px;
  text-align: left;
  margin-left: 33vw;
  width: 70%;
}

/*ABOUT ME STYLES*/
.student {
  width: 50%;
  margin-left: 33vw;
  display: flex;
  justify-content: space-between;
}
.student img {
  width: 30%;
  flex: 3;
  order: 1;
  box-shadow: 5px 10px 15px rgb(32, 31, 31);
}
.student-name {
  font-size: 30px;
}

.student p {
  flex: 1;
  order: 2;
}

.about {
  margin: 20px;
}

/*MY WORK STYLES*/

.work img {
  display: flex;
  flex: wrap;
  justify-content: center;
  margin-left: 33vw;
  max-width: 40%;
  margin-top: 5vw;
  box-shadow: 5px 10px 15px rgb(32, 31, 31);
}

.work img:hover {
  border-image-width: 10px;
}

/*CONTACT STYLES START*/
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 0 50px;
}

.contact-info {
  margin: 33vw;
  list-style-type: none;
}

/*FOOTER STYLES START*/
.footer {
  padding: 30px 35px;
  background-color: #c1aaa2;
}

/* 
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */
/* {}
@media screen and (max-width: 980px) {
  
} */

/* MEDIA QUERY FOR TABLETS AND SMALLER */
/* @media screen and (max-width: 768px) {
  section {
    padding: 30px 15px;
  }
} */

/* MEDIA QUERY FOR MOBILE PHONES AND SMALLER */
/* @media screen and (max-width: 575px) {
  .hero-form button {
    width: 100%;
  /* } */
