* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*APPLY STYLES TO BODY*/

body {
  background-color: #fafafa;
  font-family: papyrus;
}

/*STYLES APPLY TO HEADER*/
header {
  padding: 20px 35px;
  background-image: url("../assets/images/dandelion.jpg");
  display: flex;
  flex-wrap: wrap;
  background-size: cover;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

header h1 {
  font-size: 40px;
  color: #fafafa;
  text-decoration-line: overline;
  text-shadow: 0 0 10px rgb(100, 89, 89);
}

header h2 {
  font-size: 35px;
}

header nav ul {
  font-size: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin-left: 30vw;
}

header nav ul li a {
  padding: 10px 15px;
  font-weight: bold;
  color: #fafafa;
  text-decoration-line: overline;
  text-shadow: 0 0 5px rgb(100, 89, 89);
}

header nav ul li a:hover {
  background: rgb(100, 89, 89);
  border-radius: 15px;
}

.sub-title {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: 3vw;
}

/*SECTION TITLE STYLES*/
.section-title {
  font-size: 48px;
  border-bottom: 1px solid;
  padding: 10px;
  text-align: left;
  margin-left: 33vw;
  width: 70%;
}

/*ABOUT ME STYLES*/
.student {
  width: 50%;
  margin-left: 33vw;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-evenly;
}

.student img {
  width: 30%;
  box-shadow: 5px 10px 15px rgb(32, 31, 31);
}

.student-name {
  font-size: 30px;
}

.student p {
  flex: 1;
  order: 2;
}

.about {
  margin: 20px;
}

/*MY WORK STYLES*/
.work img {
  display: flex;
  flex: wrap;
  justify-content: center;
  margin-left: 33vw;
  max-width: 40%;
  margin-top: 5vw;
  box-shadow: 5px 10px 15px rgb(32, 31, 31);
}

.work img:hover {
  border-image-width: 10px;
}

/*CONTACT STYLES START*/
.contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  flex-direction: row;
  margin: 0 auto 0 auto;
  padding: 30px;
}

.contact-info {
  margin: 33vw;
  list-style-type: none;
}

.contact-info h5 {
  font-size: 16px;
  font-weight: bold;
}

/*FOOTER STYLES START*/
.footer {
  padding: 30px 35px;
  background-color: #c1aaa2;
}

/* 
/* MEDIA QUERY FOR SMALLER DESKTOP SCREENS AND SMALLER */

@media screen and (max-width: 980px) {
  header {
    justify-content: center;
    position: relative;
    padding: 0px 100px 0px 100px;
  }
  header h1 {
    font-size: 40px;
    color: black;
    text-align: center;
  }

  header nav ul {
    margin-top: 20px;
    width: max-content;
    justify-content: center;
  }

  header nav ul li a {
    font-size: 16px;
    color: black;
  }

  .sub-title {
    justify-content: center;
    font-size: 16px;
  }

  .student {
  }

  .student-img {
    justify-self: center;
  }
  .section-title {
    width: 80%;
    font-size: 33px;
  }
}
